<div class="container mt-5">
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">LISTADO DE CLIENTES</span>
                  <button class="btn btn-success float-end" routerLink="/crear-cliente">NUEVO</button>
                  <table class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Direccion</th>
                          <th scope="col">Ciudad</th>
                          <th scope="col">Email</th>
                          <th scope="col">Vendedor</th>
                          <th scope="col">telefono</th>
                          <th scope="col">Cuil</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Carlos Bruno</td>
                          <td>AV santa fe 701</td>
                          <td>Buenos Aires</td>
                          <td>email@gmail.com</td>
                          <td>Henry</td>
                          <td>425556547</td>
                          <td>23225255525</td>
                          <td>
                              <i class="fas fa-edit text-primary"></i>
                              <i class="fas fa-trash text-danger"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>Carlos Bruno</td>
                          <td>AV santa fe 701</td>
                          <td>Buenos Aires</td>
                          <td>email@gmail.com</td>
                          <td>Henry</td>
                          <td>425556547</td>
                          <td>23225255525</td>
                          <td>
                              <i class="fas fa-edit text-primary"></i>
                              <i class="fas fa-trash text-danger"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
              </div>
          </div>
      </div>
  </div>
</div>
